version: "3.7"

services:
  client:
    image: react-app
    restart: always
    build:
      context: ./client
      dockerfile: $DOCKERFILE_NAME
      args:
        - REACT_APP_API_BASE_URL=$CLIENT_API_BASE_URL
    container_name: client
    stdin_open: true
    volumes:
      - /jestersvault/node_modules
      - ./client:/jestersvault
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - $REACT_LOCAL_PORT:$REACT_DOCKER_PORT
    networks:
      - jestersvault
    depends_on:
      - server

  server:
    image: api-server
    restart: always
    env_file: ./.env
    build:
      context: ./server
      dockerfile: $DOCKERFILE_NAME
    container_name: server
    volumes:
      - /jestersvault/node_modules
      - ./server:/jestersvault
    environment:
      - DB_CONNECTION_STRING=$MONGO_CONNECTION_STRING
      - CLIENT_ORIGIN=$CLIENT_ORIGIN
      - JWT_SECRET=$JWT_SECRET
      - CHOKIDAR_USEPOLLING=true
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
    networks:
      - jestersvault

networks:
  jestersvault:
    driver: bridge
